.sponsoredDoctors {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sponsoredDoctors_img {
    margin-left: 10px;
    flex: 0.2;
  }
  .sponsoredDoctors_info {
    flex: 0.8;
  }
  .sponsoredDoctors_info > h5,
  p {
    margin: 0;
  }
  .sponsoredDoctors_info > p > span {
    color: rgb(104, 160, 233);
    padding: 2px;
  }
  