.root {
  display: "flex";
  background-color: "#dfecf2";
  height: "100vh";
  align-items: "center";
  justify-content: "center";
}
.container {
  max-width: 980;
  height: "70vh";
  background-color: "#89cff0";
  display: "flex";
  font-family: "Helvetica";
}
.profileSidebar {
  flex: 0.2;
  padding: 10;
}
.profileImage {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  flex-direction: "column";
  padding: "10px 0";
}
.profileText {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  flex-direction: "column";
  padding: "20px 0";
  border-bottom: "1px solid #d3eced";
}
.profileTabs {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  flex-direction: "column";
  margin-top: 10;
  padding: 20;
}
.tab {
  padding: "10px";
  width: 100;
  text-align: "center";
  background-color: "#c2eef0";
  margin: "5px 0";
  cursor: "pointer";
}
.profileContent {
  background-color: "#c4f5e0";
  flex: 0.8;
  height: "100%";
}
.navAbout {
  display: "flex";
}
.navText {
  flex: 0.5;
  text-align: "left";
  padding: "10px 10px";
}
.navLinks {
  flex: 0.5;
  display: "flex";
  align-items: "center";
  justify-content: "flex-end";
  padding: "0px 10px";
}
.Underline {
  background-color: "#edccca";
  width: "100%";
  height: 1;
}
.aboutInfo {
  display: "flex";
  align-items: "center";
  justify-content: "flex-start";
  flex-direction: "column";
  padding: "10px";
  font-family: "Helvetica";
}
